<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        #pauseButton {
            display: none;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Jua' rel='stylesheet'>
    <title>Spotify Player</title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>

<body>
    <div class="phoneBlack"></div>
    <div class="phoneWhite"></div>
    <div class="phone"></div>
    <button class="loginButton" onclick="window.location.href='/logout'">Logout</button>
    <div class="playBarWhite"></div>
    <div class="playBarBlack"></div>
    <div class="playBar"></div>
    <img src="{{ url_for('static', filename='play.svg') }}" class="play" alt="PlaySong" onclick="togglePlayPause()" id="playButton">
    <img src="{{ url_for('static', filename='pause.svg') }}" class="pause" alt="PauseSong" onclick="togglePlayPause()" id="pauseButton">
    <div class="album"></div>
    <div class="songName" id="songName">Loading...</div>
    <div class="songTimeBar"></div>
    <div class="timeLeft">0:00</div>
    <div class="timeRight">0:00</div>
    <img src="{{ url_for('static', filename='volume.svg') }}" class="volume" alt="VolumeIcon">
    <img src="{{ url_for('static', filename='lines.svg') }}" class="volumeLines" alt="VolumeLinesIcon">
    <div class="volumeBarBlack"></div>
    <div class="volumeBar"></div>
    <div class="volumeBarEnd"></div>
    <div class="moodBarBlack"></div>
    <div class="moodBarWhite"></div>
    <div class="moodBar"></div>
    <div class="moodTitle">Mood Stats</div>
    <div class="moodTextBox">Depressed 82%</div>
    <div class="playlistsBarDark"></div>
    <div class="playlistsBarLight"></div>
    <div class="playlistsBar">
        <h1 class="playlistsTit">Playlists</h1>
        <div class="playlistScrollArea"></div>
    </div>
</body>

<script>
    //volume bar
    document.addEventListener("DOMContentLoaded", () => {
        const volumeBarBlack = document.querySelector('.volumeBarBlack');
        const volumeBar = document.querySelector('.volumeBar');
        const volumeBarEnd = document.querySelector('.volumeBarEnd');

        const barStartX = 735.34;
        const barMaxWidth = 140.19;

        let isDragging = false;

        volumeBarEnd.addEventListener('mousedown', (e) => {
            isDragging = true;
            e.preventDefault();
    });

    document.addEventListener('mouseup', () => {
        isDragging = false;
    });

    document.addEventListener('mousemove', (e) => {
        if (!isDragging) return;

        let newX = e.clientX;
        let offsetX = newX - barStartX;

        offsetX = Math.max(0, Math.min(offsetX, barMaxWidth));

        volumeBarEnd.style.left = `${barStartX + offsetX}px`;
        volumeBar.style.width = `${offsetX}px`;

        const volume = offsetX / barMaxWidth;
        console.log("Volume level:", volume.toFixed(2));
        if (window.player && typeof window.player.setVolume === 'function') {
            window.player.setVolume(volume).catch(err => console.error('Volume error:', err));
        }

    });
    document.getElementById("audio").volume = volume;

});  
</script>

<script>
    //playlists, song play, pause/unpause, song time
    const token = '{{ access_token }}';
    let device_id = null;
    let currentPlaylistId = null;
    let isChangingTrack = false;
    let lastTrackId = null;

    async function loadPlaylists() {
        const response = await fetch('/playlists');
        const playlists = await response.json();
        const imageContainer = document.querySelector('.playlistScrollArea');
        imageContainer.innerHTML = '';

        playlists.forEach(p => {
            const wrapper = document.createElement('div');
            wrapper.className = 'playlistsItem';
            const img = document.createElement('img');
            img.src = p.image || 'planetHer.jpg';
            img.alt = p.name;
            img.className = 'playlistImages';
            img.onclick = () => {
                currentPlaylistId = p.id;
                playRandomSong(p.id);  
            } 
            const title = document.createElement('div');
            title.className = 'playlistsTitles';
            title.innerText = p.name;
            title.onclick = () => {
                currentPlaylistId = p.id;
                playRandomSong(p.id);
            }
            
            wrapper.appendChild(img);
            wrapper.appendChild(title);

            imageContainer.appendChild(wrapper);
        });
    }


    function playRandomSong(playlist_id) {
        fetch(`/play_random/${playlist_id}`)
            .then(response => response.json())
            .then(data => {
            document.getElementById('songName').innerText = data.name;
            document.querySelector('.album').style.backgroundImage = `url(${data.album_image})`;
            fetch(`https://api.spotify.com/v1/me/player/play?device_id=${device_id}`, {
                method: 'PUT',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    uris: [data.track_uri]
                })
            });
        });
    }

    async function getPlaylistTracks(playlistId) {
        const response = await fetch(`https://api.spotify.com/v1/playlists/${playlistId}/tracks`, {
            headers: {
                Authorization: `Bearer ${token}`
            }
        });
        const data = await response.json();
        return data.items;
    }

    async function playRandomTrackFromPlaylist() {
        if (!currentPlaylistId) return;
        const tracks = await getPlaylistTracks(currentPlaylistId);
        const randomTrack = tracks[Math.floor(Math.random() * tracks.length)];
        const trackUri = randomTrack.track.uri;

        fetch(`https://api.spotify.com/v1/me/player/play`, {
            method: 'PUT',
            headers: {
                Authorization: `Bearer ${token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                uris: [trackUri]
            })
        });
        updateUI(randomTrack.track);
    }

    function updateUI(track) {
        document.getElementById('songName').innerText = track.name;
        document.querySelector('.album').style.backgroundImage = `url(${track.album.images[0].url})`;
    }    

    async function resumePlayback() {
        const res = await fetch('/resume_playback?device_id=' + device_id, {
            method: 'PUT'
        });

        const data = await res.json();
        console.log(data);
    }


    async function updateCurrentSong() {
        const res = await fetch('/current_song');
        const data = await res.json();
        document.getElementById('songName').innerText = data.name || "Nothing playing";
    }
    

    async function pausePlayback() {
        const res = await fetch('/pause_playback', { method: 'PUT' });
        const data = await res.json();
        console.log(data);
    }


    let isPlaying = false;
    async function togglePlayPause() {
        if (!isPlaying) {
            const res = await fetch('/resume_playback', {method: 'PUT' });
            const data = await res.json();
            if (data.status === 'resumed') {
                isPlaying = true;
                document.getElementById('playButton').style.display = 'none';
                document.getElementById('pauseButton').style.display = 'inline';
            }
        } 
        else {
            const res = await fetch('/pause_playback', { method: 'PUT' });
            const data = await res.json();

            if (data.status === 'paused') { 
                isPlaying = false;
                document.getElementById('playButton').style.display = 'inline';
                document.getElementById('pauseButton').style.display = 'none';
            }
        }
    }

    function formatTime(ms) {
        const totalSeconds = Math.floor(ms/1000);
        const minutes = Math.floor(totalSeconds/60);
        const seconds = totalSeconds % 60;
        return `${minutes}:${seconds.toString().padStart(2, '0')}`;
    }
    let songLength = null;

    function minutesUpdater(player){
        clearInterval(songLength);
        songLength = setInterval(async () => {
            const state = await player.getCurrentState();
            if (!state) return;

            const currentMs = state.position;
            const durationMs = state.duration;

            document.querySelector('.timeLeft').innerText = formatTime(currentMs);
            document.querySelector('.timeRight').innerText = formatTime(durationMs);
        }, 1000); 
    }

    const moodBarStats = {
        Calm: ['country', 'instrumental', 'classical'],
        Chill: ['lofi', 'rnb', 'blues'],
        Energetic: ['rock', 'hip-hop', 'rap', 'pop'],
        Flirty: ['romantic', 'jazz', 'rnb'],
        Angry: ['mean pop', 'glitchcore', 'electronic']
    };

    async function getUserTopGenres() {
        const res = await fetch("https://api.spotify.com/v1/me/top/tracks?limit=50", {
            headers: {
                Authorization: `Bearer ${token}`
            }
        });
        const data = await res.json();

        const genreCounts = {};

        for (const item of data.items) {
            const artistId = item.artists[0].id;
            const artistRes = await fetch(`https://api.spotify.com/v1/artists/${artistId}`, {
                headers: { Authorization: `Bearer ${token}` }
            });
            const artistData = await artistRes.json();
            const genres = artistData.genres;

            genres.forEach(genre => {
                genre = genre.toLowerCase();
                genreCounts[genre] = (genreCounts[genre] || 0) + 1;
            });
        }

        return genreCounts;
    }
    function mapGenresToMoods(genreCounts) {
        const moodScores = {
            Calm: 0,
            Chill: 0,
            Energetic: 0,
            Flirty: 0,
            Angry: 0
        };

        let total = 0;

        for (const [genre, count] of Object.entries(genreCounts)) {
            for (const [mood, moodGenres] of Object.entries(moodBarStats)) {
                if (moodGenres.some(g => genre.includes(g))) {
                    moodScores[mood] += count;
                    total += count;
                    break;
                }
            }
        }
        const moodPercentages = {};
        for (const mood in moodScores) {
            moodPercentages[mood] = total ? Math.round((moodScores[mood] / total) * 100) : 0;
        }

        return moodPercentages;
    }

    function displayMoodStats(moodStats) {
        const moodBox = document.querySelector('.moodTextBox');
        moodBox.innerHTML = '';

        for (const [mood, percentage] of Object.entries(moodStats)) {
            const line = document.createElement('div');
            line.innerText = `${mood}: ${percentage}%`;
            moodBox.appendChild(line);
        }
    }

    window.onSpotifyWebPlaybackSDKReady = () => {
        window.player = new Spotify.Player({
            name: 'My Web Player',
            getOAuthToken: cb => { cb(token); },
            volume: 0.5
        });

        player.addListener('ready', ({ device_id: id }) => {
            device_id = id;
            console.log('Ready with Device ID', id);
        });

        player.addListener('player_state_changed', state => {
            if (!state || !state.track_window || !state.track_window.current_track) return;

            const currentTrackId = state.track_window.current_track.id;
            const isTrackEnded = state.paused && state.position === 0;

            minutesUpdater(player);

            if (isTrackEnded && !isChangingTrack && currentTrackId !== lastTrackId) {
                isChangingTrack = true;
                lastTrackId = currentTrackId;

                playRandomTrackFromPlaylist().then(() => {
                    isChangingTrack = false;
                });
            }
        });

        player.connect();
    };

    window.onload = async () => {
        await loadPlaylists();
        const res = await fetch('/current_song');
        const data = await res.json();
        isPlaying = data.is_playing || false;
        document.getElementById('playButton').style.display = isPlaying ? 'none' : 'inline';
        document.getElementById('pauseButton').style.display = isPlaying ? 'inline' : 'none';
        const genreCounts = await getUserTopGenres();
        const moodStats = mapGenresToMoods(genreCounts);
        displayMoodStats(moodStats);
        
    };

</script>

</html>

